aiohttp==3.9.3 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
altair==5.2.0 ; python_version >= "3.10" and python_version < "3.11"
annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.11"
anyio==4.3.0 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.11"
autoflake==2.3.1 ; python_version >= "3.10" and python_version < "3.11"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
bcrypt==4.1.2 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
bitarray==2.9.2 ; python_version >= "3.10" and python_version < "3.11"
blinker==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
blis==0.7.11 ; python_version >= "3.10" and python_version < "3.11"
build==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
cachetools==5.3.3 ; python_version >= "3.10" and python_version < "3.11"
catalogue==2.0.10 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.11"
chroma-hnswlib==0.7.3 ; python_version >= "3.10" and python_version < "3.11"
chromadb==0.4.22 ; python_version >= "3.10" and python_version < "3.11"
click==8.0.2 ; python_version >= "3.10" and python_version < "3.11"
cloudevents==1.10.1 ; python_version >= "3.10" and python_version < "3.11"
cloudpathlib==0.16.0 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "3.11"
confection==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
cron-validator==1.0.8 ; python_version >= "3.10" and python_version < "3.11"
cymem==2.0.8 ; python_version >= "3.10" and python_version < "3.11"
cytoolz==0.12.3 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "cpython"
dataclasses-json==0.6.4 ; python_version >= "3.10" and python_version < "3.11"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.11"
deprecation==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.11"
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl ; python_version >= "3.10" and python_version < "3.11"
eth-abi==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
eth-account==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
eth-hash==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
eth-hash[pycryptodome]==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
eth-keyfile==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
eth-keys==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
eth-rlp==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
eth-typing==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
eth-utils==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.110.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "3.11"
flask==2.2.5 ; python_version >= "3.10" and python_version < "3.11"
flatbuffers==24.3.7 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2024.2.0 ; python_version >= "3.10" and python_version < "3.11"
functions-framework==3.5.0 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.42 ; python_version >= "3.10" and python_version < "3.11"
google-api-core==2.17.1 ; python_version >= "3.10" and python_version < "3.11"
google-api-core[grpc]==2.17.1 ; python_version >= "3.10" and python_version < "3.11"
google-api-python-client==2.95.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
google-auth==2.28.2 ; python_version >= "3.10" and python_version < "3.11"
google-cloud-functions==1.16.3 ; python_version >= "3.10" and python_version < "3.11"
google-cloud-resource-manager==1.12.3 ; python_version >= "3.10" and python_version < "3.11"
google-cloud-secret-manager==2.18.3 ; python_version >= "3.10" and python_version < "3.11"
googleapis-common-protos==1.63.0 ; python_version >= "3.10" and python_version < "3.11"
googleapis-common-protos[grpc]==1.63.0 ; python_version >= "3.10" and python_version < "3.11"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-iam-v1==0.13.0 ; python_version >= "3.10" and python_version < "3.11"
grpcio-status==1.62.1 ; python_version >= "3.10" and python_version < "3.11"
grpcio==1.62.1 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==21.2.0 ; python_version >= "3.10" and python_version < "3.11" and platform_system != "Windows"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
hexbytes==0.3.1 ; python_version >= "3.10" and python_version < "3.11"
httpcore==1.0.4 ; python_version >= "3.10" and python_version < "3.11"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
httpx==0.27.0 ; python_version >= "3.10" and python_version < "3.11"
huggingface-hub==0.21.4 ; python_version >= "3.10" and python_version < "3.11"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.6 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==6.11.0 ; python_version >= "3.10" and python_version < "3.11"
importlib-resources==6.3.0 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
isort==5.13.2 ; python_version >= "3.10" and python_version < "3.11"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.11"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.11"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "3.11"
kubernetes==29.0.0 ; python_version >= "3.10" and python_version < "3.11"
langchain-community==0.0.21 ; python_version >= "3.10" and python_version < "3.11"
langchain-core==0.1.31 ; python_version >= "3.10" and python_version < "3.11"
langchain-openai==0.0.8 ; python_version >= "3.10" and python_version < "3.11"
langchain==0.1.9 ; python_version >= "3.10" and python_version < "3.11"
langcodes==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
langsmith==0.1.24 ; python_version >= "3.10" and python_version < "3.11"
lru-dict==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
markdownify==0.11.6 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.11"
marshmallow==3.21.1 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
mmh3==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
monotonic==1.6 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "3.11"
murmurhash==1.0.10 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.11"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.11"
onnxruntime==1.17.1 ; python_version >= "3.10" and python_version < "3.11"
openai==1.10.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-api==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp-proto-common==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-exporter-otlp-proto-grpc==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-instrumentation-asgi==0.44b0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-instrumentation-fastapi==0.44b0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-instrumentation==0.44b0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-proto==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-sdk==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-semantic-conventions==0.44b0 ; python_version >= "3.10" and python_version < "3.11"
opentelemetry-util-http==0.44b0 ; python_version >= "3.10" and python_version < "3.11"
orjson==3.9.15 ; python_version >= "3.10" and python_version < "3.11"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
parsimonious==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.2.0 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
posthog==3.5.0 ; python_version >= "3.10" and python_version < "3.11"
prediction-market-agent-tooling[langchain]==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
preshed==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
proto-plus==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "3.11"
pulsar-client==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==15.0.1 ; python_version >= "3.10" and python_version < "3.11"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.11"
pyasn1==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
pycryptodome==3.20.0 ; python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.16.3 ; python_version >= "3.10" and python_version < "3.11"
pydantic-settings==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.6.4 ; python_version >= "3.10" and python_version < "3.11"
pydeck==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
pypika==0.48.9 ; python_version >= "3.10" and python_version < "3.11"
pyproject-hooks==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "3.11"
pysqlite3-binary==0.5.2.post3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
pytest==7.2.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.11"
pyunormalize==15.1.0 ; python_version >= "3.10" and python_version < "3.11"
pywin32==306 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.33.0 ; python_version >= "3.10" and python_version < "3.11"
regex==2023.12.25 ; python_version >= "3.10" and python_version < "3.11"
requests-oauthlib==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rich==13.7.1 ; python_version >= "3.10" and python_version < "3.11"
rlp==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.18.0 ; python_version >= "3.10" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.4.1.post1 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.12.0 ; python_version >= "3.10" and python_version < "3.11"
setuptools==69.2.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
smart-open==6.4.0 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "3.11"
spacy-legacy==3.0.12 ; python_version >= "3.10" and python_version < "3.11"
spacy-loggers==1.0.5 ; python_version >= "3.10" and python_version < "3.11"
spacy==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy==2.0.28 ; python_version >= "3.10" and python_version < "3.11"
srsly==2.4.8 ; python_version >= "3.10" and python_version < "3.11"
starlette==0.36.3 ; python_version >= "3.10" and python_version < "3.11"
streamlit==1.32.1 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tavily-python==0.3.1 ; python_version >= "3.10" and python_version < "3.11"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.11"
thinc==8.2.3 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
tiktoken==0.5.2 ; python_version >= "3.10" and python_version < "3.11"
tokenizers==0.15.2 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.2 ; python_version >= "3.10" and python_version < "3.11"
typer==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
types-python-dateutil==2.8.19.20240311 ; python_version >= "3.10" and python_version < "3.11"
types-pytz==2024.1.0.20240203 ; python_version >= "3.10" and python_version < "3.11"
types-requests==2.31.0.20240311 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.10.0 ; python_version >= "3.10" and python_version < "3.11"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.11"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
uvicorn[standard]==0.28.0 ; python_version >= "3.10" and python_version < "3.11"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
wasabi==1.1.2 ; python_version >= "3.10" and python_version < "3.11"
watchdog==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
watchfiles==0.21.0 ; python_version >= "3.10" and python_version < "3.11"
weasel==0.3.4 ; python_version >= "3.10" and python_version < "3.11"
web3==6.15.1 ; python_version >= "3.10" and python_version < "3.11"
websocket-client==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
websockets==12.0 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.18.0 ; python_version >= "3.10" and python_version < "3.11"
